<div class="page-header">
  <h1>Books</h1>
</div>

<p><%= link_to("Create a new Book", new_admin_book_path) %></p>

<table class="sortable table table-striped table-bordered table-condensed">
  <thead>
    <tr>
      <th><%= sortable "id", "ID" %></th>
      <th>Cover</th>
      <th><%= sortable "title" %></th>
      <th><%= sortable "publisher" %></th>
      <th><%= sortable "created_at" %></th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <% @books.each do |book| %>
      <tr class="book">
        <td><%= link_to(book.id, admin_book_path(book)) %></td>
        <td><%= link_to(image_tag(book.cover_url), book.url) %></td>
        <td><%= link_to(book.title, admin_book_path(book)) %></td>
        <td><%= book.publisher %></td>
        <td><%= book.created_at %></td>
        <td><%= link_to('Edit', edit_admin_book_path(book)) %></td>
        <td><%= link_to('Delete', admin_book_path(book), :confirm => "Are you sure?", :method => :delete) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @books %>
